{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^dotenv/config$",
    "^(node:|readline$)",
    "^@?\\w",
    "^\\.\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
